<div role="navigation" aria-label="masthead" class="masthead">
    <div class="grid-x">
        <div class="cell small-8 medium-4 large-5 xxlarge-4 small-order-2 medium-order-1">
            <a href="{{site.baseurl}}/"><img src="dist/images/logo-TA.svg" alt="TA logo" class="logo"></a>
        </div>
        <div class="cell small-2 medium-8 large-7 xxlarge-8 small-order-1 medium-order-2">
            <div class="mobile-nav-bar" data-responsive-toggle="toggle-main-nav" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="toggle-main-nav"></button>
            </div>
            <div class="main-nav-wrapper" id="toggle-main-nav">
                <nav aria-label="main-nav" class="main-nav">
          
                    <ul class="vertical medium-horizontal menu">
                        <li><a href="Getting Started" {% if page.permalink == 'gettingstarted' %} class="current-page" {% endif %}>Getting Started</a></li>
                        <li><a href="FAQ" {% if page.permalink == 'faq' %} class="current-page" {% endif %}>FAQ</a></li>
                        <li><a href="Known Issues" {% if page.permalink == 'issues' %} class="current-page" {% endif %}>Known Issues</a></li>
                        <li><a href="Learn More" {% if page.permalink == 'learnmore' %} class="current-page" {% endif %}>Learn More</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div> 
</div>
<!-- close masthead -->
